<h2>Login</h2>

<form action="<%= session_url %>" method="POST">
  <%= auth_token %>
  <label>Username:
    <input type="text" name="user[username]" value="">
  </label>

  <label>Password:
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="Login">

</form>